<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1><%= title %></h1>
        <h4>Example usage to perferm a search:</h4>
        <p><code><a href="<%= url1  %>"><%= url1  %></a></code></p>
        <h4>Sample output of a search:</h4>
        <code><%= results  %></code>
        <h4>List recent searches:</h4>
        <p><code><a href="<%= url2  %>"><%= url2  %></a></code></p>
        <h4>Sample output of result items:</h4>
        <code><%= recent  %></code>
    </div>
</div>
    
</body>
</html>

